@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-off-white font-roboto text-sm text-black sm:text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 font-sourceSerif leading-3;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }

  h4 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  h5 {
    @apply text-lg sm:text-xl;
  }

  h6 {
    @apply text-base sm:text-lg;
  }

  p {
    @apply max-w-75ch font-roboto text-sm font-light leading-relaxed tracking-wide sm:text-base;
  }
  a {
    @apply cursor-pointer font-roboto text-sm text-black-muted underline underline-offset-4 sm:text-base;
  }
  hr {
    @apply mx-auto my-8 w-[90%] max-w-screen-2xl border-t-2 border-black/75 sm:my-10 md:my-14;
  }
}

@layer utilities {
  /* global scrollbar style */
  ::-webkit-scrollbar {
    @apply w-2 bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray transition-colors duration-200;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-light-gray;
  }

  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  .component-scrollbar::-webkit-scrollbar {
    @apply w-1;
  }
  .component-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray;
  }
  .component-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply rounded-full bg-black-muted;
  }
  .component-scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-transparent;
  }
}

.flickity-prev-next-button {
  @apply bg-white text-black opacity-60 ring-0 transition-opacity duration-200 !important;
}

.flickity-prev-next-button:hover {
  @apply opacity-100 !important;
}

.flickity-viewport {
  overflow: visible !important;
}
