@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-off-white font-roboto text-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sourceSerif;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }

  p {
    @apply font-roboto text-base font-light leading-normal tracking-wide;
  }
  a {
    @apply cursor-pointer font-roboto text-black-muted underline;
  }
  hr {
    @apply mx-auto my-20 w-[90%] border-t-2 border-black/75;
  }
}

.flickity-prev-next-button {
  @apply bg-white text-black opacity-60 ring-0 transition-opacity duration-200 !important;
}

.flickity-prev-next-button:hover {
  @apply opacity-100 !important;
}
