@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-off-white font-roboto text-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sourceSerif;
  }
  p {
    @apply font-roboto font-light leading-normal tracking-normal;
  }
  a {
    @apply cursor-pointer font-roboto text-black-muted underline;
  }
  hr {
    @apply mx-auto my-20 w-[90%] border-t-2 border-black/75;
  }
}

.flickity-prev-next-button {
  @apply bg-white text-black opacity-60 ring-0 transition-opacity duration-200 !important;
}

.flickity-prev-next-button:hover {
  @apply opacity-100 !important;
}
